n8n-integration/workflows/daily-islamic-content.json
{
  "name": "Daily Islamic Content Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Daily 5 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://your-mcp-server:8080/islamic/daily",
        "options": {}
      },
      "id": "get-daily-content",
      "name": "Get Daily Islamic Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://your-deenmate-backend/api/content/daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.DEENMATE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "name": "content",
              "value": "={{ $json.data }}"
            },
            {
              "name": "generated_by",
              "value": "DeenMate MCP AI"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-backend",
      "name": "Save to DeenMate Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://your-mcp-server:8080/islamic/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content_type",
              "value": "daily_reminder"
            },
            {
              "name": "topic",
              "value": "Morning Islamic Reflection"
            },
            {
              "name": "target_audience",
              "value": "general"
            },
            {
              "name": "length",
              "value": "medium"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-reminder",
      "name": "Generate Morning Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{ $env.TELEGRAM_CHANNEL_ID }}"
            },
            {
              "name": "text",
              "value": "🌅 *Daily Islamic Content Generated*\n\n*Verse of the Day:*\n{{ $('Get Daily Islamic Content').item.json.data.verse_of_day.translation }}\n\n*Hadith of the Day:*\n{{ $('Get Daily Islamic Content').item.json.data.hadith_of_day.text }}\n\n*Daily Tip:*\n{{ $('Get Daily Islamic Content').item.json.data.daily_tip }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-telegram",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "message": "❌ Failed to generate daily Islamic content",
        "additionalFields": {
          "color": "danger"
        }
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Schedule - Daily 5 AM": {
      "main": [
        [
          {
            "node": "Get Daily Islamic Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Islamic Content": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Save to DeenMate Backend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to DeenMate Backend": {
      "main": [
        [
          {
            "node": "Generate Morning Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Morning Reminder": {
      "main": [
        [
          {
            "node": "Notify via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": [
    {
      "id": "islamic-automation",
      "name": "Islamic Automation"
    },
    {
      "id": "daily-content",
      "name": "Daily Content"
    }
  ]
}
